%header.internal
  %h1.logo
    %a{href: "/"}
      The Web Is...
  %nav
    %ul
      %li
        %a{href: "/#who"} Speakers
      %li.shiftleft
        %a{href: "/#where"} Where
      %li.shiftright
        %a.register{href: "/#workshops"} Workshops
      %li
        %a{href: "/schedule/"} Schedule
  .fixed-logo.show
    = partial "partials/logo"