---
title: Speakers - The Web Is...
description: The web’s greatest innovators, storytellers and educators coming to Cardiff for The Web Is...
---

= partial "partials/internal-header"
.content

  %section.internal
    .wrap
      %h1 Speakers
      .speakers.clearfix
        / %article.speaker
        /   %span.anchor#woz
        /   .image{style: 'background-image: url(/images/speakers/steve_wozniak.jpg)'}
        /   .title
        /     %h2 Steve Wozniak
        /     %h3.talk-title
        /       "The Web is one big conversation"
        /   .text
        /     %p Steve Wozniak helped shape the computing industry with his design of Apple’s first line of products the Apple I and II and influenced the popular Macintosh. In 1976, Wozniak and Steve Jobs founded Apple Computer Inc. with Wozniak's Apple I personal computer. The following year, he introduced his Apple II personal computer, featuring a central processing unit, a keyboard, color graphics, and a floppy disk drive. The Apple II was integral in launching the personal computer industry. In 1981, he went back to UC Berkeley and finished his degree in electrical engineering/computer science. For his achievements at Apple Computer, Wozniak was awarded the National Medal of Technology by the President of the United States in 1985, the highest honor bestowed on America’s leading innovators. In 2000, he was inducted into the Inventors Hall of Fame and was awarded the prestigious Heinz Award for Technology, The Economy and Employment for “single-handedly designing the first personal computer and for then redirecting his lifelong passion for mathematics and electronics toward lighting the fires of excitement for education in grade school students and their teachers.”
        /     %p After leaving Apple in 1985, Wozniak was involved in various business and philanthropic ventures, focusing primarily on computer capabilities in schools and stressing hands-on learning and encouraging creativity for students. Making significant investments of both his time and resources in education, he “adopted” the Los Gatos School District, providing students and teachers with hands-on teaching and donations of state-of-the-art technology equipment. He founded the Electronic Frontier Foundation, and was the founding sponsor of the Tech Museum, Silicon Valley Ballet and Children’s Discovery Museum of San Jose.
        /     %p
        /       Website: 
        /       %a{href: "http://woz.org"} http://woz.org
        %article.speaker
          %span.anchor#brad_frost
          .image{style: 'background-image: url(/images/speakers/brad_frost.jpg)'}
          .title
            %h2 Brad Frost
            %h3.talk-title
              "The Web is progress"
          .text
            %p Brad Frost is a web designer, speaker, writer, and consultant located in beautiful Pittsburgh, PA. Brad is passionate about creating Web experiences that look and function beautifully on the never-ending stream of connected devices, and is constantly tweeting, writing and speaking about it. Brad has created some tools and resources for web designers, including This Is Responsive, Pattern Lab, Mobile Web Best Practices, and WTF Mobile Web.
            %p
              Website: 
              %a{href: "http://bradfrostweb.com"} http://bradfrostweb.com
        %article.speaker
          %span.anchor#andy_clarke)
          .image{style: 'background-image: url(/images/speakers/andy_clarke.jpg)'}
          .title
            %h2 Andy Clarke - with special guests
            %h3.talk-title
              "The Web is a discussion"
          .text
            %p Andy is a designer and author known for his design work and contributions to the web design industry. For over fifteen years, Andy has made designs for his clients, written two books and given over fifty presentations to web designers and developers all over the world.
            %p
              Website: 
              %a{href: "http://stuffandnonsense.co.uk"} http://stuffandnonsense.co.uk
        %article.speaker
          %span.anchor#scott_jenson
          .image{style: 'background-image: url(/images/speakers/scott_jenson.jpg)'}
          .title
            %h2 Scott Jenson
            %h3.talk-title
              "The Web is like water"
          .text
            %p The Web is like water, it can flow into any screen and just as easily drain away, leaving no trace. In a world where the cost of processing and web connectivity is dropping to pennies, everything changes. But it's so easy to keep using the same tired business and technology models that have served us for the last 3 decades. Many say 'the web is dead' completely misunderstandsng where we are ultimately headed. The web is exactly what we need.
            %p Scott has worked at Apple, Symbian, frog design and Google, working on Mac System 7, Apple's User Interface Guidelines, Newton, Google Mobile Maps, and lots of startups.
            %p
              Website: 
              %a{href: "http://jenson.org"} http://jenson.org
        %article.speaker
          %span.anchor#mr_bingo
          .image{style: 'background-image: url(/images/speakers/mr_bingo.jpg)'}
          .title
            %h2 Mr Bingo
            %h3.talk-title
              "The Web is taking itself far too seriously"
          .text
            %p Some say he's the 'Master of pens'. Some call him the 'Justin Bieber of drawing'. Some say he fucks about for a living.
            %p Mr Bingo will be talking about what the Web means to him, how it's affected his life and how his career depends on it.
            %p
              Website: 
              %a{href: "http://mr-bingo.org.uk"} http://mr-bingo.org.uk
        %article.speaker
          %span.anchor#emma_mulqueeny
          .image{style: 'background-image: url(/images/speakers/emma_mulqueeny.jpg)'}
          .title
            %h2 Emma Mulqueeny
            %h3.talk-title
              "The Web is in the hands of the 97ers"
          .text
            %p Emma is the founder of Rewired State and Young Rewired State, is a Commissioner for the Speaker’s Commission on Digital Democracy and a Google Fellow.  
            %p She has recently been included in the 166th annual edition of Who’s Who, voted onto the Wired 100 list, Tech City 100, BIMA Hot 100, has been voted one of the top ten women in technology by The Guardian, into the top ten Tech Heroes for Good by NESTA and named as one of the 25 most influential women in IT by Computer Weekly.
            %p Emma writes regularly for the British Press and on her own blog, speaks on radio and on television, is best known for her campaign: ‘Year 8 is too Late’ (encouraging girls into technology subjects) and relentlessly pushing the potential of open data.
            %p
              Website: 
              %a{href: "http://www.emmamulqueeny.com"} http://www.emmamulqueeny.com
        
        %article.speaker
          %span.anchor#david_hieatt
          .image{style: 'background-image: url(/images/speakers/david_hieatt.jpg)'}
          .title
            %h2 David Hieatt
            %h3.talk-title
              "A Creative Mornings Session"
              %br
              %img{:src => "/images/cm-cardiff-logo.png", :width => "120"}
          .text
            %p David Hieatt is an entrepreneur, marketeer and brand builder.
            %p David created Howies, founded the Do Lectures and more recently has created Hiut Denim, a jeans company that is helping to bring back the jeans industry to Cardigan, a town that used to have Britain’s largest jeans factory. Its purpose is to give 400 people their jobs back.
            %p
              Website: 
              %a{href: "http://davidhieatt.typepad.com"} http://davidhieatt.typepad.com
        %article.speaker
          %span.anchor#owen_gregory
          .image{style: 'background-image: url(/images/speakers/owen_gregory.jpg)'}
          .title
            %h2 Owen Gregory
            %h3.talk-title
              "The Web is read/write"
          .text
            %p Owen is a freelance editor, working with small, independent and digital publishers from manuscript to print and digital editions. His particular editorial expertise encompasses all aspects of front-end web design and development. He has worked with several well-known authors from the web community, for publishers including Five Simple Steps and Smashing Media, as well as the daily advent goodness of 24 ways each December.
            %p
              Website: 
              %a{href: "http://fullcreammilk.co.uk"} http://fullcreammilk.co.uk

        %article.speaker
          %span.anchor#ben_hollway
          .image{style: 'background-image: url(/images/speakers/ben_hollway.jpg)'}
          .title
            %h2 Benjamin Hollway
            %h3.talk-title
              "The Web is still young"
          .text
            %p Benjamin is a 16 year old freelance front-end developer from the UK. He first started programming when he was 8, and was shortlisted in the Emerging Talent category at the 2014 Netmag awards. Since then he’s worked alongside a couple of agencies in Brighton. He’s a fanatic of electronic and ambient music. 
            
            %p
              Website: 
              %a{href: "http://nothingrandom.com"} http://nothingrandom.com
        %article.speaker
          %span.anchor#robin_christopherson
          .image{style: 'background-image: url(/images/speakers/robin_christopherson.jpg)'}
          .title
            %h2 Robin Christopherson
            %h3.talk-title
              "The Web is turning difficulties into opportunities"
          .text
            %p After Cambridge University, Robin worked as an IT instructor for the Royal National Institute for the Blind (RNIB) and became a founding member of AbilityNet in 1998.  Now globally acclaimed as leading experts in the field, AbilityNet specialises in accessibility auditing and disabled user testing, as well as helping clients design attractive websites and apps that are both accessible and easy to use by all.
            %p Despite being blind, Robin uses technology very effectively using speech output to access computers, the internet, his iPhone and many other technologies to assist him in his work. Current projects include raising awareness through blogging and a busy public speaking schedule in the UK, Europe and the US.
            %p
              Website: 
              %a{href: "http://www.abilitynet.org.uk"} http://abilitynet.org.uk
        %article.speaker
          %span.anchor#keir_whitaker
          .image{style: 'background-image: url(/images/speakers/keir_whitaker.jpg)'}
          .title
            %h2 Keir Whitaker
            %h3.talk-title
              "The Web is all consuming"
          .text
            %p Keir is a UK based Shopify Designer Advocate and co-host of The Back to Front Show weekly podcast. Keir was previously co-founder of Viewport Industries hosting events and has published books such as Insites and Digest a one off publication with a focus on the culture that surrounds the world of the creative professional
            %p
              Website: 
              %a{href: "http://www.keirwhitaker.com"} http://keirwhitaker.com
        %article.speaker
          %span.anchor#andy_davies
          .image{style: 'background-image: url(/images/speakers/andy_davies.jpg)'}
          .title
            %h2 Andy Davies
            %h3.talk-title
              "The Web is too slow, but we can fix that"
          .text
            %p Andy is an expert on scaling & making the Web more reliable, from wrangling servers, configuring proxies and tuning databases through to efficient writing code. Andy has spent time consulting various blue chip corporations and regularly holds workshops and speaks at web performance events around the World. Andy is also author of 'Web performance' which was recently published by Five Simple Steps.
            %p Andy is a web performance consultant, based in Gloucestershire, UK.
            %p
              Website: 
              %a{href: "http://www.andydavies.me"} http://andydavies.me
        %article.speaker
          %span.anchor#sally_jenkinson
          .image{style: 'background-image: url(/images/speakers/sally_jenkinson.jpg)'}
          .title
            %h2 Sally Jenkinson
            %h3.talk-title
              "The Web is our responsibility"
          .text
            %p Sally Jenkinson is a freelance technical consultant based in Colchester, in the UK. Working to provide a mix of technical discovery and solutions as well as more general digital consultancy, Sally has been involved in projects for clients including the BBC, Nokia, Electronic Arts, Inghams, and the Open Data Institute. She aims to get people talking and thinking about technology in a creative way, and to use it to enhance experiences.
            %p
              Website: 
              %a{href: "http://sallyjenkinson.co.uk"} http://sallyjenkinson.co.uk
        %article.speaker
          %span.anchor#christopher_murphy
          .image{style: 'background-image: url(/images/speakers/christopher_murphy.jpg)'}
          .title
            %h2 Chris Murphy
            %h3.talk-title
              "The Web is knowledge"
          .text
            %p The web is an incredible pool of knowledge that we can all draw freely upon. The web is all about, freedom. We have 'View Source', very few, if any, other industries have that. We, as a community, share our knowledge, we generally don't hide it away. Freely sharing my knowledge and my experience is something that I believe has set me apart as an educator.
            %p Christopher Murphy is a writer, designer and educator based in Belfast. Adrian Shaughnessy, writing for Creative Review, described him as, “a William Morris for the digital age,” an epithet he aspires to fulfil, daily. Chris is also the author of numerous books, collectively covering a multidisciplinary approach towards design, he has written for a wide variety of publications worldwide, including: Five Simple Steps, Offscreen, 8 Faces and The Manual; in addition to publishing the world’s most compact typography journal, Glyph.
            %p
              Website: 
              %a{href: "http://monographic.org"} http://monographic.org
        %article.speaker
          %span.anchor#nathan_ford
          .image{style: 'background-image: url(/images/speakers/nathan_ford.jpg)'}
          .title
            %h2 Nathan Ford
            %h3.talk-title
              "The Web is constant"
          .text
            %p Nathan is Creative Director at Mark Boulton Design, where he works on projects with clients such as CERN, ESPN and Al Jazeera. He's also the Creator and Product Lead on Gridset, a simple tool that makes designing advanced grid systems for the web a breeze. 
            %p Born and raised in Texas, Nathan now lives just outside Cardiff, Wales. He is deeply enamoured with both Design and Development, and all the magnificent ways in which they can interact.
            %p
              Website: 
              %a{href: "http://artequalswork.com"} http://artequalswork.com
        %article.speaker
          %span.anchor#seb_lee-delisle
          .image{style: 'background-image: url(/images/speakers/seb_lee-delisle.jpg)'}
          .title
            %h2 Seb Lee-Delisle
            %h3.talk-title
              "The Web is a great big playground"
          .text
            %p Seb Lee-Delisle is a digital artist and speaker who uses computers to engage with people and inspire them. As an artist, he likes to make interesting things from code that encourage interaction and playfulness from the public. Notable projects include Lunar Trails, featuring a 3m wide drawing machine, and PixelPyros, the Arts Council funded digital fireworks display that toured nationwide in 2013.
            %p Seb won 3 Microsoft Critter awards in 2013, including Web Personality of the Year and Voice of the Year (best presenter) and he was Technical Director on Big and Small, the BBC project that won a BAFTA in 2009. Notable clients include BBC, Lego, Sony, Microsoft, Google, MLB, Nickelodeon, Philips, and Unilever.
            %p
              Website: 
              %a{href: "http://seb.ly"} http://seb.ly
        %article.speaker
          %span.anchor#anna_debenham
          .image{style: 'background-image: url(/images/speakers/anna_debenham.jpg)'}
          .title
            %h2 Anna Debenham
            %h3.talk-title
              "The Web is everywhere"
          .text
            %p Anna is a freelance front-end developer based in the UK. She was awarded Young Developer of the Year by Netmag in 2013. When she's not playing on them, she's researching the browsers on game consoles. Last year, she wrote a real book for Five Simple Steps on Front End Style Guides.
            %p
              Website: 
              %a{href: "http://maban.co.uk"} http://maban.co.uk


        %article.speaker
          %span.anchor#phil_hawksworth
          .image{style: 'background-image: url(/images/speakers/phil_hawksworth.jpg)'}
          .title
            %h2 Phil Hawksworth
            %h3.talk-title
              "The Web is made of links"
          .text
            %p Phil is a developer who has been building web applications since the late 90s. These days as a Technical Director at R/GA, working for clients like Nike, Google, and O2 he focuses on technical architectures, wrangling developers and designers, and banging on about things like unobtrusive JavaScript, open web standards and tasty browser shenanigans. 
            %p Some say that his Instagram feed contains more photos of cats than might be considered healthy for a grown man, but he's convinced that he doesn't have a problem.
            %p
              Website: 
              %a{href: "http://hawksworx.com"} http://hawksworx.com


  = partial "partials/footer"
