---
title: Rules of Play - The Web Is...
description: Photo and video attribution for The Web Is...
---

= partial "partials/internal-header"
.content

  %section.internal
    .wrap
      %h1 Rules of Play
     
      %p Conferences are a great place to learn, be inspired and meet other like minded folk with similar interests. They should offer a safe and fun environment for us to network and share. While we don’t anticipate there being any issues, we do take the safety and happiness of our attendees seriously. Here are a few rules for us all to abide by to ensure a great and incident free time is had by all. 
      %h3 Behaviour
      %p
        We will not accept any trolling or rude behaviour. Respect those around you and let us know if you feel any issue needs our attention. This applies to behaviour during the day and any related fringe events or after parties. Abusive behaviour via social media will also not be tolerated. Anybody deemed to be acting inappropriately will be asked to leave the event. If you see or hear anything you are uncomfortable with, please let us know. 
      %h3 Selling your ticket
      %p We appreciate that sometimes things change and you may not be able to attend the event after you have bought your ticket. Unfortunately we are unable to offer refunds on any cancellations but you are free to sell your ticket and transfer the details.  We will need all details of the new attendee in order to process and manage the transfer. We’ll be sorry not to see you there of course.
      %h3 Photos, tweets, feedback and video
      %p As a registered attendee you automatically give us your permission to use any photography or video taken on the day, both at the event and after party. We also reserve the right to use any event related tweets, quotes or feedback you give in future material. We will always fully credit any content we use where possible. We won’t alter any of your content or use it inappropriately. We simply want to shout about what a great time everyone had.
      %h3 Contact
      %p If you have any questions or concerns before, during or after the event please email issues@theweb.is or speak to any of The Web Is team … they will be easily spotted in their branded green t-shirts.

  = partial "partials/footer"
