---
title: Frequently Asked Questions - The Web Is...
description: Photo and video attribution for The Web Is...
---

= partial "partials/internal-header"
.content

  %section.internal
    .wrap
      %h1 Frequently Asked Questions

      %h3 How far is the new venue from the original one?
      %p  Have no fear, the new venue is still in the City Centre. Less than a mile from the original venue. The Sherman Theatre is accessed via Senghennydd Road. Full address: Sherman Theatre, Senghennydd Road, Cathays, Cardiff, CF24 4YE
  

      
      %h3 I have a premium ticket, do they still hold value?
      %p Of course, we realise that some people may have purchased a premium ticket to see a certain speaker. We can't really do much if your favourite speaker has been replaced but we will be putting you in the best seats in the house, you will have an exclsuive goody bag full of great things, and will also receive a few lovely surprises during the day.


      %h3 Can I transfer my ticket to a different person/name?
      %p That is not a problem. We are trialling a system of wristbands so a name change isn't needed. The new attendee will simply need a ticket with the booking reference.


      %h3 The prices changed and you talked about a refund of the difference to early buyers, what happens now?
      %p We are working hard to reward the early buyers, but we are afraid that we are no longer able to refund the difference. This makes us extremely sad but there will be an alternative in place on the day. Something awesome specifically for the early buyers.

      %h3 Is there access for those with disabilities at the new venue?
      %p The new venue has fantastic access areas with extra leg room to accomodate wheelchairs. Please see one of the organisers when checking in and they will look after you.

      %h3 Any other questions?
      %p If you have any other questions, queries or concerns, please feel free to email them through to issues@theweb.is - we have tried in the past to answer queries via Twitter but it never seems to go well, email is best.



  = partial "partials/footer"
