---
title: Schedule - The Web Is...
description: The plan for The Web Is...
bodyTag: bgfix
---

= partial "partials/internal-header"
.content

  %section.internal
    .wrap
      %h1 Schedule
      %h2 Thursday, October 30th
      %article.schedule
        %section.item
          %span.time
            %p 9:00am
          %span.description
            %h3 Check in opens
        %section.item
          %span.time
            %p 10:00am
          %span.description
            %h3 The Web is knowledge
            %h3
              %a{href: "/speakers/#christopher_murphy"} Chris Murphy
        %section.item
          %span.time
            %p 10:40am
          %span.description
            %h3 The Web is constant
            %h3
              %a{href: "/speakers/#nathan_ford"} Nathan Ford

        %section.item
          %span.time
            %p 11:30am
          %span.description
            %h3 Break

        %section.item
          %span.time
            %p 11:50am
          %span.description
            %h3 The Web is everywhere
            %h3
              %a{href: "/speakers/#anna_debenham"} Anna Debenham
        %section.item
          %span.time
            %p 12:30pm
          %span.description
            %h3 The Web is a great big playground
            %h3
              %a{href: "/speakers/#seb_lee-delisle"} Seb Lee Delisle
        %section.item
          %span.time
            %p 13:10pm
          %span.description
            %h3 Lunch
        %section.item
          %span.time
            %p 14:15pm
          %span.description
            %h3 The Web is in the hands of the 97ers
            %h3
              %a{href: "/speakers/#emma_mulqueeny"} Emma Mulqueeny
        %section.item
          %span.time
            %p 14:55pm
          %span.description
            %h3 The Web is all consuming
            %h3
              %a{href: "/speakers/#keir_whitaker"} Keir Whitaker
        %section.item
          %span.time
            %p 15:35pm
          %span.description
            %h3 Break
        %section.item
          %span.time
            %p 16:00pm
          %span.description
            %h3 The Web is made of links
            %h3
              %a{href: "/speakers/#phil_hawksworth"} Phil Hawksworth
        %section.item
          %span.time
            %p 16:40pm
          %span.description
            %h3 The Web is a discussion
            %h3
              %a{href: "/speakers/#andy_clarke"} Andy Clarke - with special guests

        %section.item
          %span.time
            %p 17:30pm
          %span.description
            %h3 Finish
      %hr

      %h2 Friday, October 31th
      %article.schedule
        %section.item
          %span.time
            %p 9:00am
          %span.description
            %h3 A Creative Mornings session
            %h3
              %a{href: "/speakers/#david_hieatt"} David Hieatt
              %br
                %img{:src => "/images/cm-cardiff-logo.png", :width => "120"}
        %section.item
          %span.time
            %p 10:00am
          %span.description
            %h3 The Web is like water
            %h3
              %a{href: "/speakers/#scott_jenson"} Scott Jenson
        %section.item
          %span.time
            %p 10:40am
          %span.description
            %h3 The Web is still young
            %h3
              %a{href: "/speakers/#ben_hollway"} Benjamin Hollway
        %section.item
          %span.time
            %p 11:00am
          %span.description
            %h3 Break
        %section.item
          %span.time
            %p 11:30am
          %span.description
            %h3 The Web is too slow, but we can fix that
            %h3
              %a{href: "/speakers/#andy_davies"} Andy Davies
        %section.item
          %span.time
            %p 12:10pm
          %span.description
            %h3 The Web is turning difficulties into opportunities
            %h3
              %a{href: "/speakers/#robin_christopherson"} Robin Christopherson
        %section.item
          %span.time
            %p 12:50pm
          %span.description
            %h3 Lunch
        %section.item
          %span.time
            %p 14:15pm
          %span.description
            %h3 The Web is our responsibility
            %h3
              %a{href: "/speakers/#sally_jenkinson"} Sally Jenkinson
        %section.item
          %span.time
            %p 14:55pm
          %span.description
            %h3 The Web is read/write
            %h3
              %a{href: "/speakers/#owen_gregory"} Owen Gregory

        %section.item
          %span.time
            %p 15:35pm
          %span.description
            %h3 Break
        %section.item
          %span.time
            %p 16:00pm
          %span.description
            %h3 The Web is taking itself far too seriously
            %h3
              %a{href: "/speakers/#mr_bingo"} Mr Bingo
        %section.item
          %span.time
            %p 16:40pm
          %span.description
            %h3 The Web is progress
            %h3
              %a{href: "/speakers/#brad_frost"} Brad Frost
        %section.item
          %span.time
            %p 17:30pm
          %span.description
            %h3 Finish

  = partial "partials/footer"
