---
title: The Web Is...
description: On 30/31st October 2014, 16 of the web’s greatest innovators, storytellers and educators will be coming to Cardiff, UK to tell their stories.
---

%section.pipes-container
  .bg-pipes.bg-pipe-1
  .bg-pipes.bg-pipe-2
  .bg-pipes.bg-pipe-3

%header
  %nav.checklogo
    %ul
      %li
        %a.scroll{href: "#who"} Speakers
      %li.shiftleft
        %a.scroll{href: "#where"} Where
      %li.shiftright
        %a.scroll{href: "#workshops"} Workshops
      %li
        %a{href: "/schedule/"} Schedule

.content

  %section.what
    .centered
      %h1.logo
        %a.fallback{href: "/"} The Web Is...
        = partial "partials/logo"
      %h3 Celebrating 25 years of the World Wide Web
      %p On 30/31st October 2014, some of the web’s greatest innovators, storytellers and educators will be coming to Cardiff, UK to tell their stories.
      %p.button
        %a.white{href: 'https://getinvited.to/craiglockwood/the-web-is/'} Buy tickets
      %p.site-links
        
        %a{:href => "/faq/"} FAQ
        %a{:href => "/side-events/"} Side Events

  %section#who.who.clearfix
    .wrap.wide
      %h2 The speakers
      %p The web can inspire, educate and entertain and so will our speakers. Between them, our incredible lineup have an eclectic wealth of knowledge and experience and they’re going to be sharing it with us.

      %p
        

        %article.speaker
          %a{href: "/speakers/#brad_frost"}
            .image{style: 'background-image: url(images/speakers/brad_frost.jpg)'}
            .text
              %h3 Brad Frost
              %p.description
                "The Web is progress"
        %article.speaker
          %a{href: "/speakers/#andy_clarke"}
            .image{style: 'background-image: url(images/speakers/andy_clarke.jpg)'}
            .text
              %h3 Andy Clarke - with special guests
              %p.description
                "The Web is a discussion
        %article.speaker
          %a{href: "/speakers/#scott_jenson"}
            .image{style: 'background-image: url(images/speakers/scott_jenson.jpg)'}
            .text
              %h3 Scott Jenson
              %p.description
                "The Web is like water"
        %article.speaker
          %a{href: "/speakers/#mr_bingo"}
            .image{style: 'background-image: url(images/speakers/mr_bingo.jpg)'}
            .text
              %h3 Mr Bingo
              %p.description
                "The Web is taking itself far too seriously"
        %article.speaker
          %a{href: "/speakers/#emma_mulqueeny"}
            .image{style: 'background-image: url(images/speakers/emma_mulqueeny.jpg)'}
            .text
              %h3 Emma Mulqueeny
              %p.description
                "The Web is in the hands of the 97ers"
      
        %article.speaker
          %a{href: "/speakers/#david_hieatt"}
            .image{style: 'background-image: url(images/speakers/david_hieatt.jpg)'}
            .text
              %h3 David Hieatt
              %p.description
                "A Creative Mornings session"
                %br
                %img{:src => "/images/cm-cardiff-logo.png", :width => "120"}
        %article.speaker
          %a{href: "/speakers/#owen_gregory"}
            .image{style: 'background-image: url(images/speakers/owen_gregory.jpg)'}
            .text
              %h3 Owen Gregory
              %p.description
                "The Web is read/write"
        
        %article.speaker
          %a{href: "/speakers/#robin_christopherson"}
            .image{style: 'background-image: url(images/speakers/robin_christopherson.jpg)'}
            .text
              %h3 Robin Christopherson
              %p.description
                "The Web is turning difficulties into opportunities"
        %article.speaker
          %a{href: "/speakers/#keir_whitaker"}
            .image{style: 'background-image: url(images/speakers/keir_whitaker.jpg)'}
            .text
              %h3 Keir Whitaker
              %p.description
                "The Web is all consuming"
        %article.speaker
          %a{href: "/speakers/#sally_jenkinson"}
            .image{style: 'background-image: url(images/speakers/sally_jenkinson.jpg)'}
            .text
              %h3 Sally Jenkinson
              %p.description
                "The Web is our responsibility"
        %article.speaker
          %a{href: "/speakers/#andy_davies"}
            .image{style: 'background-image: url(images/speakers/andy_davies.jpg)'}
            .text
              %h3 Andy Davies
              %p.description
                "The Web is too slow, but we can fix that"
        %article.speaker
          %a{href: "/speakers/#christopher_murphy"}
            .image{style: 'background-image: url(images/speakers/christopher_murphy.jpg)'}
            .text
              %h3 Chris Murphy
              %p.description
                "The Web is knowledge"
        %article.speaker
          %a{href: "/speakers/#nathan_ford"}
            .image{style: 'background-image: url(images/speakers/nathan_ford.jpg)'}
            .text
              %h3 Nathan Ford
              %p.description
                "The Web is constant"
        %article.speaker
          %a{href: "/speakers/#seb_lee-delisle"}
            .image{style: 'background-image: url(images/speakers/seb_lee-delisle.jpg)'}
            .text
              %h3 Seb Lee-Delisle
              %p.description
                "The Web is a great big playground"
        %article.speaker
          %a{href: "/speakers/#anna_debenham"}
            .image{style: 'background-image: url(images/speakers/anna_debenham.jpg)'}
            .text
              %h3 Anna Debenham
              %p.description
                "The Web is everywhere"


        %article.speaker
          %a{href: "/speakers/#phil_hawksworth"}
            .image{style: 'background-image: url(images/speakers/phil_hawksworth.jpg)'}
            .text
              %h3 Phil Hawksworth
              %p.description
                "The Web is made of links"

        %article.speaker
          %a{href: "/speakers/#ben_hollway"}
            .image{style: 'background-image: url(images/speakers/ben_hollway.jpg)'}
            .text
              %h3 Benjamin Hollway
              %p.description
                "The Web is still young"


      %br{style: "clear: both"}
      %p
        If that didn’t blow your socks off, there will
        %br
        be a few surprises on the day that will amaze you.

  %section#where.where
    .centered
      %h3
        Sherman Theatre, Senghennydd Road, Cardiff
      %p The Sherman Theatre will be our home for two days. Surrounded by plenty of eateries and hotels in the centre of Cardiff, the theatre is conveniently located for transport links and is just a short 2 hour trip from London.

  %section#workshops.workshops
    .centered
      %h2
        Workshops
      %section.workshop{:style => "background-image: url(images/speakers/brad_frost.jpg)"}
        %a.modal-link{:href => "#", :data => { :target => "workshop-brad" }}
          %h3.workshop-title
            %span.author
              Brad Frost
            %span.title
              Everything You Wanted to Know About Responsive Design... And Less!
      %section.workshop{:style => "background-image: url(images/speakers/andy_clarke.jpg)"}
        %a.modal-link{:href => "#", :data => { :target => "workshop-andy" }}
          %h3.workshop-title
            %span.author
              Andy Clarke
            %span.title
              CSS3 For Responsive Hardboiled Web Design
      %section.workshop{:style => "background-image: url(images/speakers/david_hieatt.jpg)"}
        %a.modal-link{:href => "#", :data => { :target => "workshop-david" }}
          %h3.workshop-title
            %span.author
              David Hieatt
            %span.title
              How To Build A Great Brand With Very Little Money

    %article.modal.hidden#workshop-brad
      %button.close X
      %h2
        Brad Frost
      %section
        %p
          %strong
            Everything You Wanted to Know About Responsive Design... And Less!
          is a full-day masterclass that takes a deep dive into the world of responsive web design, covering everything including broad concepts, strategy, how responsive design affects process, responsive design patterns and principles, and more.
        %p
          Oh, and the "...And Less" part? Responsive design is a huge topic so unfortunately it's impossible to pack everything about it into a single day. But that doesn't mean we can't try, right?
        .info
          %h4
            October 29, 2014 10am - 4:30pm
          %h3
            £240 + VAT
        %p.button
          %a.dark{:href => "https://getinvited.to/craiglockwood/the-web-is/"} Reserve a seat

      %section
        %p
          Here's what will be covered:
        %ul
          %li
            %strong The ever-shifting landscape
            – The web landscape is getting more diverse every single day, and this section will address why responsive web design is becoming increasingly essential
          %li
            %strong Approach
            – There's more than one way to skin this mobile web cat. We'll look at the various strategies being used to approach the multi-device Web landscape
          %li
            %strong Foundations of Responsive Design
            – Responsive web design 101. Fluid grids, flexible media and media queries make up the core of responsive web design
          %li
            %strong Principles of Adaptive Design
            – What beyond layout do we need to concern ourselves with when creating great multi-device web experiences? We'll cover how ubiquity, flexibility, performance, enhancement and future-friendliness are powerful principles for making great adaptive web experiences.
          %li
            %strong Atomic Design
            – Introduce a design methodology for creating robust design systems, and introduce Pattern Lab, a tool for creating atomic design systems
          %li
            %strong Strategy and Workflow
            – Our websites are fluid, so our process and workflow needs to be fluid as well. This section will tackle thorny areas like convincing clients and colleagues, and discuss tools and techniques to effectively design in the Post-PSD Era.
          %li
            %strong Responsive Patterns
            – Creating adaptive interfaces is challenging, but thankfully the Web community is hard at work creating flexible, downright innovative design patterns. We'll look at how to tackle layout, navigation, images, data tables, and really anything else you can put in an interface.
          %li
            %strong Development Best Practices
            – The way we build websites has changed. We’ll discuss mobile-first development, CSS techniques, “support” vs “optimization”, device testing and more to help you develop future-friendly web experiences.

    %article.modal.hidden#workshop-andy
      %button.close X
      %h2
        Andy Clarke
      %section
        %p
          %strong
            CSS3 For Responsive Hardboiled Web Design
          is for people who want to understand why, when and how to use the latest HTML5 and CSS3 in their everyday work and those technologies have never been more important or more interesting than in today’s responsive website design.
        %p
          In this popular, updated full-day workshop, hosted by designer, author and podcaster Andrew Clarke, you‘ll learn how to make the most of the latest CSS3 modules so that your websites and applications will be faster, flexible and Hardboiled.

        .info
          %h4
            October 29, 2014 9am - 5:00pm
          %h3
            £240 + VAT
        %p.button
          %a.dark{:href => "https://getinvited.to/craiglockwood/the-web-is/"} Reserve a seat

      %section
        %h3
          During the workshop
        %p
          This workshop is not all talk as you'll work with practical, everyday examples of responsive web designs and see them working across a range of devices from mobile phones to desktops and everything in between. You'll walk away with a full set of resources and example files too.
        %p
          In just one day, Andrew will teach you how to:

        %ul.large
          %li
            Use table display properties to rearrange content
          %li
            Create cross-browser layouts using Flexible Box Layout (Flexbox)
          %li
            Implement magazine-style layouts using CSS3 Shapes
          %li
            Improve typography using Multi-column Layout
          %li
            Make the most of tiny bitmaps with border images
          %li
            Use CSS3 filters and blend modes for creative effects
          %li
            Required equipment and knowledge
        %p
          This workshop is for professional Web designers and developers and assumes that you’re already familiar with HTML5 and a little CSS. It‘s a good idea to bring your laptop to the workshop. Pencils, markers and paper will be supplied.

    <!-- Third workshop details -->
    %article.modal.hidden#workshop-david
      %button.close X
      %h2
        David Hieatt
      %section
        %p
          %strong
            How To Build A Great Brand With Very Little Money
        %p
          There has never been a better time to start a brand. There has never been a cheaper time, either. But when everyone has the same free tools as you, how do you stand out? The answer is simple enough:  By learning how to use those tools with greater skill than anyone else. This workshop will give you some key insights into this.

        .info
          %h4
            October 29, 2014 10am - 4:30pm
          %h3
            £240 + VAT
        %p.button
          %a.dark{:href => "https://getinvited.to/craiglockwood/the-web-is/"} Reserve a seat

      %section
        %h3
          During the workshop
        %p
          David Hieatt is not a theorist. He has built brands from nothing with next to nothing just by understanding a few basic rules. He shares these insights with you on his very popular course: 'How To Build A Brand With Very Little Money'.
        %p
          In just one day, you will learn:

        %ul.large
          %li
            How to tell your story
          %li
            How to give your brand a voice
          %li
            How to give your brand a voice
          %li
            The importance of 1000 true fans
          %li
            How to identify a niche before others
          %li
            The importance of being first

  %section#how.how
    .centered
      %h2 Book your seat
      %p Tickets are available on a first come first served basis so if you snooze you will lose. This is a celebration of the web like no other, we’d love you to be a part of it.
      %p Tickets from just &pound;199 (+VAT).
      %p.button
        %a.white{href: 'https://getinvited.to/craiglockwood/the-web-is/'} Buy tickets
      %p
        

  = partial "partials/footer"

